.container {
    color: #fff;
}

.counter {
    font-size: 3em;
}

.counter span {
    letter-spacing: 0.3em;
}

.counterCurrent {
    font-size: 1.5em;
}

.counterDelimiter {
    font-size: .8em;
    font-weight: 500;
}

.wrapper {
    display: flex;
    width: 100%;

    align-items: center;
}

.sliderDetails {
    display: flex; 
    align-items: center;
}

.sliderName {
    text-transform: uppercase;
    padding: .4em .8em;

    font-size: 1.5em;

    border: 2px solid rgb(255, 250, 50);
    border-radius: 50px;
    position: relative;
}

.sliderSeparator {
    height: 2px;
    width: 150px;

    margin: 0 15px;

    background-color: rgb(255,250,50);
}

.images {
    display: flex; 
    min-width: 100%;   
    overflow-x: scroll;
}

.image {
    width: 210px; 
    height: 130px;

    margin: 0 10px;

    border: 1px solid rgba(255,250, 50, .5);
}